* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: Arial;
  list-style: none;
  text-decoration: non;
}
.main {
  background-color: rgba(37, 30, 30, 0.507);
  height: 100vh;
  width: 100%;
  position: fixed;
}
.header {
  padding: 10px;
  animation: colorRainbow infinite 3s ease-in-out;
  color: white;
}
.header h1 {
  width: fit-content;
  margin: auto;
}
@keyframes colorRainbow {
  0% {
    background-color: red;
  }
  20% {
    background-color: blue;
  }
  40% {
    background-color: green;
  }
  60% {
    background-color: rgba(134, 134, 51, 0.612);
  }
  80% {
    background-color: orange;
  }
  100% {
    background-color: gray;
  }
}
#message {
  text-align: center;
  padding: 20px;
  color: yellow;
}
#letsPlay {
  padding: 10px;
  width: 100px;
  cursor: pointer;
  /* display: none; */
}
#next {
  padding: 10px;
  width: 100px;
  cursor: pointer;
  display: none;
}
.body {
  height: 50vh;
  margin: auto;
  padding: 50px;
  color: white;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}
.answers {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px auto;
}
.firstRow,
.secondRow {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.ans {
  text-align: center;
  padding: 20px;
}
.ans:hover {
  text-decoration: underline;
  cursor: pointer;
}
.buttons {
  background-color: red;
  display: flex;
  justify-content: center;
  gap: 130px;
  padding: 20px;
}
.btn {
  padding: 10px;
  font-weight: bolder;
}
.correctAns {
  color: white;
  background-color: green;
  color: black;
  padding: 10px;
  border-radius: 40px;
  text-align: center;
}
@media (max-width: 500px) {
  .header h1 {
    font-size: 27px;
  }
  .question {
    font-size: 15px;
  }
  #message {
    font-size: 12px;
  }
  .answers {
    gap: 30px;
    font-size: 14px;
  }
  .ans {
    width: 150px;
    overflow: hidden;
  }
}
